.div-one {
  border-radius: 4px;
  border-style: inset;
  border-color: tomato;
  padding: 3px;
  margin: 0px;
}

#title {
  font-family: 'JetBrains Mono', monospace;
  font-size: 22px;
  text-align: center;
}

img {
  height: 600px;
  width: 600px;
}